{% extends 'AppCoder/inicio.html' %}

{% block content %}

<br>
<br>
<div class="container text-center">
    <h1>Sesion de Pelis de romances/Amor</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for romanticas in romanticas %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{romanticas.imagenPeliculas.url}}" class="" width="300px">
                {{romanticas.nombre}}
                <a href="{% url 'romanticas' romanticas.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == romanticas.usuario.id %}
                <a href="{% url 'romanticas' romanticas.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'romanticas' romanticas.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}